$white: #ffffff;
$black: #000000;
$gray: #878C99;
$lightgray: #B4BACC;
$exlightgray: #e3e6ec;
$base: #415A77;
$dark: #1B263B;
$light: #778DA9;
$lightblue: #b4dcef;
$exlight: #e4e5e1;

$vue: #41B883;
$darkvue: #2b9264;
$warning: #B81E1E;

// Fonts
$mainFont: "Roboto", sans-serif;

// Fonts size
// Fonts size
$xxl-Fs: 3.6rem;
$xl-Fs: 2.4rem;
$l-Fs: 2.1rem;
$m-Fs: 1.8rem;
$mainFs: 1.6rem;
$s-Fs: 1.4rem;
$xs-Fs: 1.3rem;
$xxs-Fs: 1.2rem;

$titleFS: 2.1rem;