.vue-message__wrapper {
  display: flex;
  align-items: center;

  width: 100%;
  height: 4rem;

  margin: 0;
  margin-bottom: 2rem;
  padding: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;

  background-color: $exlight;
}

.vue-message {
  display: flex;
  align-items: center;
}

.vue-message__txt {
  @include vue-h3;
  color: $base;
}

.vue-message__txt span {
  color: $warning;
}



// New Note

.new-note {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-basis: 30rem;

  margin: 0;
  margin-bottom: 3rem;
  padding: 0;
  padding-top: 1rem;
  padding-bottom: 2rem;
  box-sizing: border-box;

  font-size: 1.6rem;

}

.new-note .new-note__input {
  width: 25rem;
  height: 4rem;

  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;

  font-size: inherit;

  border: 1px solid $gray;
  border-radius: 0.3rem;
  background-color: $exlightgray;
}

.new-note__textarea {
  width: 25rem;
  height: 10rem;

  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;

  font-size: inherit;

  border: 1px solid $gray;
  border-radius: 0.3rem;
  background-color: $exlightgray;
}

.new-note__btn {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 4rem;

  margin: 0;
  padding: 0;
  padding-left: 2rem;
  padding-right: 2rem;

  font-size: 1.6rem;
  color: $white;

  background-color: $base;
  border-radius: 0.3rem;
  border: none;

  cursor: pointer;
}

.new-note__btn:hover {
  background-color: $light;
}







// Notes
.vue-notes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 100%;

  margin: 0;
  padding: 0;
}

.vue-note {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 48%;
  min-height: 10rem;

  margin: 0;
  margin-bottom: 5rem;
  padding: 0;
  padding: 2rem;
  box-sizing: border-box;

  background-color: $exlightgray;
  border-radius: 0.5rem;

  cursor: pointer;
  transition: 0.3s cubic-bezier(.12,.38,.77,.73);
}



.vue-note:hover {

  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  transform: translateY(-1rem);
  transition: 0.3s cubic-bezier(.12,.38,.77,.73);

}

.vue-note__item-icon {
  position: absolute;
  top: 0;
  right: 0;

  cursor: pointer;
}



.vue-note__icon {
  width: 4rem;
  height: 4rem;

  fill: $light;
}

.vue-note__icon:hover {
  fill: $base;
}




// Notes header
.vue-notes__header-block {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  margin: 0;
  margin-bottom: 3rem;
  padding: 0;
  padding-bottom: 1rem;
  box-sizing: border-box;

  border-bottom: 1px solid $light;
}


@mixin heading-medium {
  font-size: 2.2rem;
  line-height: 1.13636364;

}
.vue-notes__header {
  display: flex;
  align-items: center;
  flex-shrink: 1;

  width: auto;

  height: 4rem;
  margin: 0;
  padding: 0;

  @include vue-h4;

}

.vue-notes__h-icon-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 7rem;
}

.vue-notes__item-icon {
  cursor: pointer;
}

.vue-notes__item-icon.active .vue-note__icon {
  fill: $vue;
}

.vue-notes__item-icon.active .vue-note__icon:hover {
  fill: $darkvue;
}

.vue_search_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;

  margin: 0 auto;
}

.vue_search {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
}

.vue_search__input {
  display: flex;
  align-items: center;

  width: 20rem;
  height: 3rem;

  margin: 0 auto;
  padding: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;

  font-family: inherit;
  font-size: $mainFS;
  font-weight: 300;
  color: $vue;

  border-radius: 0.4rem;
  border: 1px solid $gray;
}



// Modals
.modal__section-wrapper {
  display: flex;
  gap: 1rem;

  margin: 0;
  margin-bottom: 2rem;
  padding: 0;
}

.modal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;

  margin: 0;
  padding: 0;

  background-color: fade-out($dark, 0.5);

  z-index: 2;
}

.modal__btn-wrapper {
  display: flex;
  align-items: center;


}

.modal__btn {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 3rem;
  padding-right: 3rem;
  box-sizing: border-box;

  font-size: $mainFS;
  color: $white;
  background-color: $vue;
  border: none;
  border-radius: 0.5rem;

  cursor: pointer;

}

.modal__btn:hover {
  background-color: $darkvue;
}

.modal__btn--submit {
  margin-top: auto;
}




.modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 40rem;
  min-height: 20rem;

  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;

  background-color: $exlight;
  border-radius: 0.5rem;
}

.modal__title {
  width: 100%;

  margin-bottom: 1rem;

  font-size: $titleFS;
  font-weight: 400;
  color: $base;
}

.modal__item-icon {
  position: absolute;
  top: 0;
  right: 0;

  width: 4rem;
  height: 4rem;

  cursor: pointer;
}

.modal__icon {
  width: 4rem;
  height: 4rem;
}

.modal__icon {
  fill: $vue;
}

.modal__icon:hover {
  fill: $darkvue;
}

svg path {
  fill: inherit;
}


.modal__info-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;
}


.modal__info-txt {
  width: 100%;
  font-size: $mainFS;
  font-weight: 300;
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;


}

.modal__label {
  font-size: $mainFS;
  color: $gray;
}

.modal__input {
  width: 100%;
  height: 4rem;

  margin: 0;
  margin-bottom: 2rem;
  padding: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;

  border: 1px solid $gray;
}